*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(71, 70, 70, 0.459);
    color: white;
    width: 100%;
}
p{
    font-size: 15pt;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    border-radius: 25px;
}

a:hover{
    background-color: rgb(243, 220, 9);
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;/*negrito*/

}

#header{
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;/*faz com que os tamanhos de pedding sejam somado, ou seja a altura não irá ser somada com o padding*/
    display: flex; /*os itens ficam flexivos*/
    align-items: center; /*alinha os coisas no centro*/
    height: 70px;
    padding: 1rem;
    border-top: solid rgb(243, 220, 9) 6px;
    border-left: solid rgb(243, 220, 9) 14px;
    justify-content: space-between; /*espacamento entre os itens que estão no header */
    background-color: #285148;
}
#d-inline{
    display: flex;
    list-style: none;
    gap: .5rem;/*propriedade que dá espaço entre os itens*/
}

#d-inline a{
    display: block;
    padding: 0.5rem;
}

#btn-mobile{
    display: none;
}

img{
    width: 25%;
}
#apresentacao img{
    background-color: white;
    border-radius: 50px;
    width: 20%;
}
.cont2 img{
    padding-bottom:15px ;
}
h3{
    text-align: center;
}
#servicos1{
    padding-top: 60px;
}
#conteudo{
    padding-top: 60px;
}
#apresentacao{
    display: flex;
    font-size: 15pt;
}
#apresentacao p{
    padding-left: 35px;
    margin: 0px;
}

#t2{
    display: none;
}
h1{
    color: rgb(255, 255, 255);
    background-color:#285148 ;
    text-align: center;
    font-size: 20pt;
}
.coluna{
    display: flex;
}
.container{
    margin-top: 30px;
    text-align: center;
    padding: 25px;
    cursor: pointer;
    transition: .8s;
    margin: 10px;
    
}
#frase{
    margin-bottom:50px ;
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    transition: .9s;
    background-color: #285148;
}
#centrar{
    text-align: center;
}
#frase:hover{
    background-color: #285148;
}
.container:hover{
    background-color: #285148;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border-right: solid gold 6px;
    border-bottom: solid gold 6px;
}
.conteudo{
    margin: 25px;
    
}
.mostrar{
    border-radius: 50px;
    padding: 10px;
    display: flex;
    border-right: solid rgb(243, 220, 9) 6px;
    border-bottom: solid rgb(243, 220, 9) 6px;
    margin-bottom: 50px;
}
.mostrar2 img{
    width: 85%;
    border-radius: 30px;
}
.coluna{
    margin: 10px;
}
#servicos{
    margin: 0px 50px;
}
.sumi1{
    display: block;
}
.cont1{
    position: relative;
}
.aparece1{
    border-radius: 25px;
    display: none;
    width: 88%;
    position: absolute;
}
#final{
    padding: 25px 75px 0px 75px;
    display: flex;
    border-bottom: solid rgb(243, 220, 9) 6px;
    border-left: solid rgb(243, 220, 9) 14px;
    background-color: #285148;
    color: white;
}
iframe{
    width: 100%;
    height: 310px;
    border-radius: 25px;
    border: solid gold 5px;
    justify-content: space-around;
}
#contatos{
    width: 50%;
    
}
#mapa{
    width: 50%;
}
#whats{
    cursor: pointer;
    margin-bottom: 25px ;
    display: flex;
    align-items: center;
    height: 10vh;
}
#whats img{
    width: 50px;
    margin-right: 20px;
}
.local img{
    width: 45px;
    margin-right: 20px;
}
.local{
    cursor: pointer;
    align-items: center;
    height: 10vh;
    display: flex;
    margin-bottom: 25px ;
}
#espaco{
    margin-left: 20px;
}
.insta img{
    width: 50px;
    margin-right: 20px;
}
.insta{
    cursor: pointer;
    align-items: center;
    height: 10vh;
    display: flex;
    margin-bottom: 15px;
}
#carrosel{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 100vh;
    width: 88%;
}
#t1{
    display: none;
}
#t2{
    display: block;
}
#carrosel2{
    display: none;
}
@media screen and (max-width: 650px){
    #d-inline{
        /*display: none;/*elemento não existe na tela*/
        display: block;
        position: absolute; /*´para ficar em cima de qualquer conteudo*/
        width: 100%;
        top: 64px;
        right: 0px;
        background-color: #285148dc;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;/*esconde o elemento até que a altura */
    }
    #nav.active #d-inline{
        height: calc(100vh - 70px);
        visibility: visible;
    }
    #d-inline a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(0, 0, 0, .05);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        
        border-top: 2px solid ;
        width: 20px;
        color: rgb(255, 255, 255);
    }
    #hamburguer::after, #hamburguer::before{
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;/*pega a cor do pai*/
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
       border-top-color:transparent ;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
        
    }

    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #t2{
        display: block;
        font-size: 12pt;
    }
    
    #servicos{
        display: block;
        margin: 0px 20px;
        font-size:12pt;
    }
    .coluna{
        display: block;
    }
    
    #final{
        width: 120%;
        padding: 25px 10px 0px 10px;
        border-bottom: solid rgb(243, 220, 9) 6px;
        border-left: solid rgb(243, 220, 9) 14px;
        background-color: #285148;
        color: white;
    }
    #apresentacao{
        display: block;

    }
    .conteudo{
        text-align: center;
        font-size: 5pt;
    }
    
    #apresentacao img{
        width: 50%;
        background-color: white;
        border-radius: 5%;
    }
    #apresentacao p{
        padding: 0px;
        text-align: justify;
        font-size:12pt;
    }
    h3{
        font-size: 18pt;
        margin-bottom: 20px;
    }
    .container{
        margin: 0px;
        margin-bottom: 25px;
        padding: 20px;
        font-size:12pt;
        background-color: #285148;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        border-right: solid gold 6px;
        border-bottom: solid gold 6px;
    }
    .container p{
        font-size: 12pt;
    }
    .mostrar{
        border-radius: 50px;
        padding: 10px;
        display: block;
        border-right: solid rgb(243, 220, 9) 6px;
        border-bottom: solid rgb(243, 220, 9) 6px;
        margin-bottom: 50px;
        text-align: justify;
        font-size: 12pt;
    }
    .mostrar p{
        font-size: 12pt;
    }
    .mostrar2 img{
        width: 100%;
        border-radius: 30px;
    }
    #final{
        width: 100%;
        display: inline-block;
        border-bottom: solid rgb(243, 220, 9) 6px;
        border-left: solid rgb(243, 220, 9) 14px;
        background-color: #285148;
        color: white;
    }
    iframe{
        width: 100%;
        height: 250px;
        border-radius: 25px;
        border: solid gold 5px;
        justify-content: space-around;
    }
    #mapa{
        width: 100%;
    }
    #whats{
        width:180% ;
        cursor: pointer;
        margin-bottom: 15px ;
        display: flex;
        align-items: center;
        height: 10vh;
    }
    #whats img{
        width: 50px;
        margin-right: 10px;
    }
    .local img{
        width: 40px;
        margin-right: 10px;
    }
    .local{
        width: 180%;
        cursor: pointer;
        align-items: center;
        height: 10vh;
        display: flex;
        margin-bottom: 15px ;
    }
    #espaco{
        margin-left: 20px;
    }
    .insta img{
        width: 45px;
        margin-right: 10px;
    }
    .insta{
        width: 180%;
        cursor: pointer;
        align-items: center;
        height: 10vh;
        display: flex;
        margin-bottom: 5px;
    }
    #carrosel2{
        display: block;
        padding-top: 70px;
        height: 80vh;
        width: 100%;
    }
    #carrosel{
        padding-top: 19%;
        height: auto;
        width: 100%;
        display: none;
    }
    .carousel-item img{
        height: 80vh;
    }
    h5{
        font-size: 10pt;
    }
    
       
}