body, ul{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}
body{
    background-color: rgb(179, 176, 176);
}
#header img{
    width: 60px;
    background-color: white;
    border-radius: 15%;
}
#header div{
    display: flex;
    align-items: center;
}
a{
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    color: rgb(8, 92, 81);
}
#logo{
    font-size: 1.5rem;
}
h1{
    padding: 0px 20px;
    margin: 0px;
}

#header{
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8, 92, 81);
    z-index: 1000;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;

}

#menu a {
    display: block;
    padding: .5rem ;
}
#btn-mobile{
    display: none;
}
#carrosel2{
    display: none;
}
.slide{
    width: 100%;
}
#t2{
    display: none;
}
#carrosel{
    padding-top: 70px;
    height: 100vh;
    width: 80%;
    display: flex;  
    margin-left: auto;
    margin-right: auto;
}
#conteudo{
    background-color: rgb(179, 176, 176);
    color: #fff;
    margin: 0px 5rem;
    font-size: 20px;
}
#colunas{
    display: flex;
   
}
#colunas img{
    width: 100px;
}
.coluna{
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(8, 92, 81);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border-right: solid gold 6px;
    border-bottom: solid gold 6px;
}
#detalhamento{
    text-align: center;
}
#detalhamento h3{
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    margin: 50px 0px;
    background-color: rgb(8, 92, 81);
    color: white;
}
#servicos{
    padding-top: 70px;
}
.informacao{
    text-align: left;
    padding: 10px;
    display: flex;
    border-radius: 50px;
    border-right: solid gold 6px;
    border-bottom: solid gold 6px;
    margin-bottom: 30px;
}
.informacao ul{
    margin-left: 40px;
}
.informacao p{
    margin-left: 20px;
}
.informacao img{
    width: 350px;
    border-radius: 25px;
}
h2{
    text-align: center;
    margin-bottom: 30px;
}
#historia{
    padding-top: 70px;
}
#historia div{
    display: flex;
    align-items: center;
    border: solid #ffffff 4px;
    border-radius: 25px;
    margin-bottom: 50px;
}
#historia img{
    margin-right: 20px;
    width: 369px;
    background-color: white;
    border-radius: 19px;
}
#contatos{
    align-items: center;
    padding: 2rem 2rem;
    background-color: rgb(8, 92, 81);
    color: white;
    display: flex;
}
#contatos div{
    
    padding: 0rem 2rem;
}
.icones div{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.icones p{
    margin: 0px;
}
#contatos img{
    width: 50px;
    margin-right: 15px;
}
iframe{
    width: 400px;
    height: 303px;
    border: solid gold 4px;
    border-radius: 25px;
}
@media (max-width:600px){
    
    #menu{
        display: block;
        position:absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: rgba(8, 92, 81, 0.712);
        transition: .6s;
        height: 0px;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
       
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        color: white;
        padding: 1rem 0rem;
        margin: 0rem 1rem;
        border-bottom: 2px rgb(255, 255, 255) solid;
    }
    #btn-mobile{
        color: white;
        display: block;
        background: none;
        border: solid 1px;
        padding: .5rem;
        cursor: pointer;
        border-radius: 10px;
        transition: .6s;
    }
    #btn-mobile:hover{
        background-color: rgb(8, 92, 81);
        color: white;
    }
    a:hover{
        background: none;
        border-radius: none;
        color: rgb(8, 92, 81);
    }
    #header .t1{
        display: none;
    }
    #t2{
        color: white;
        text-align: left;
        display: block;
    }
    #carrosel2{
        padding-top: 70px;
        display: block;
    }
    #carrosel{
        display: none;
    }
    #conteudo{
        margin: 0px .5rem;
        font-size: 12pt;
    }
    h2{
        text-align: center;
        margin-bottom: 5px;
    }
    #colunas{
        display: block;
       
    }

    #historia div p{
        text-align: justify;
    }
    #historia div{
        margin: 1rem;
        display: block;
        text-align: center;
    }
    #historia img{
        margin-right: 0px;
        width: 200px;
    }
    #detalhamento{
        text-align: center;
    }
    #detalhamento h3{
        padding: 15px;
        border-radius: 50px;
        display: inline-block;
        text-align: center;
        margin: 50px 0px;
        background-color: rgb(8, 92, 81);
        color: white;
    }
    #servicos{
        padding-top: 70px;
    }
    .informacao{
        text-align: left;
        padding: 10px;
        display: block;
        border-radius: 50px;
        border-right: solid gold 6px;
        border-bottom: solid gold 6px;
        margin-bottom: 30px;
    }
    .informacao ul{
        margin-left: 40px;
    }
    .informacao p{
        margin-left: 20px;
    }
    .informacao img{
        width: 100%;
        border-radius: 25px;
    }
    h2{
        text-align: center;
        margin-bottom: 30px;
    }
    #historia{
        padding-top: 70px;
    }
    #historia div{
        display: block;
        align-items: center;
        border: none;
        border-radius: 25px;
        margin-bottom: 50px;
    }
    #historia img{
        margin-right: 20px;
        width: 100%;
        background-color: white;
        border-radius: 19px;
    }
    #contatos{
        align-items: center;
        padding: .5rem .5rem;
        background-color: rgb(8, 92, 81);
        color: white;
        display: block;
    }
    #contatos div{
        
        padding: 0rem 0.5rem;
    }
    .icones div{
        margin-bottom: 25px;
        display: flex;
        align-items: center;
    }
    .icones p{
        margin: 0px;
    }
    #contatos img{
        width: 50px;
        margin-right: 15px;
    }
    iframe{
        width: 100%;
        height: 250px;
        border: solid gold 4px;
        border-radius: 25px;
    }
}
